{% extends 'basic.html' %}
    {% block headers %}
        {{ block.super }}|Компании и проекты
    {% endblock %}
    {% block content %}
    {% csrf_token %}
    {% for c in company %}
    <div>
        <h1> Компания  : <a href={% url 'company_detail' c.pk %}>{{c.name }}</a></h1>
        <p>Директор компании : {{ c.author }}</p>
        <p>Описание : {{ c.description }}</p>
        <p>Адрес : {{ c.address }}</p>
        <p> Номер телефона : {{ c.phone }}</p>
        <p> Mail : {{ c.email }}</p>
        <p> Дата создания : {{ c.created }}</p>
    </div>
    {% endfor %}
    {% for p in project %}

    <div>
        <h1>Название проекта : {{ p.title }}</h1>
        <p>Компания :  {{ p.company }}</p>
        <p>Описание : {{ p.body }}</p>
        <p> Автор статьи : {{ p.author }}</p>
        <p> Цена : {{ p.price }}</p>
        <p>Пост создан : {{ p.created }}</p>
        <p>Дата завершения : {{ p.done }}</p>

    </div>
    {% endfor %}
    {% endblock %}

